.slides {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    z-index: 99;
  }
  .slick-prev {
    left: -2%;
  }
  .slick-next {
    right: -2%;
  }
  .slick-current {
    opacity: 0.5;
    @media screen and (max-width: 600px) {
      opacity: 1;
    }
  }
}

.slider-container {
  width: 80%;
  margin: 15px auto 0;
}

.temp-unit {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.refresh-btn {
  margin-top: 20px;
  float: right;
  margin-right: 20%;

  @media screen and (max-width: 600px) {
    width: 100%;
    float: none;
    display: flex;
    justify-content: center;
  }
}
